extends layout

block content
  h1= title

  ul
  each movie in movie_list
    li
      a(href=movie.url) #{movie.title}
      |  (Release Year: #{movie.release_year})

  else
    li There are no movies
